Операционная система:
Windows 7/8/10/11

Процессор:
1.0 GHz (любой одноядерный)
Intel Pentium или аналогичный AMD

Оперативная память:
512 МБ RAM (минимум)
1 ГБ RAM (рекомендуется)

Видеокарта:
Любая с поддержкой OpenGL 2.0+
128 МБ видеопамяти

Место на диске:
100 МБ свободного места

Дополнительно:
Клавиатура и мышь
Интернет-соединение (для загрузки уровней)

Операционная система:
Windows 10/11

Процессор:
2.0+ GHz Dual Core
Intel Core i3 или AMD Ryzen 3

Оперативная память:
4 ГБ RAM

Видеокарта:
512 МБ видеопамяти
NVIDIA GeForce GT 610 / AMD Radeon HD 6450

Место на диске:
200 МБ свободного места (для уровней, музыки и сохранений)
